{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{% set navbar_attributes = create_attribute() %}
{# Navbar #}
{% block navbar %}
{%
  set navbar_classes = [
    'navbar',
    theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
    theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
  ]
%}
<header {{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
  <div class="{{ container }}">
    <div class="row">
      <section class="col-sm-12">
        <div class="navbar-header">
          {% if logo %}
            <a class="logo navbar-btn" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
              <img src="{{ logo }}" alt="{{ 'Home'|t }}" />
            </a>
          {% endif %}
          {% if site_slogan %}
              <p class="navbar-text">{{ site_slogan }}</p>
          {% endif %}
          <address class="header-address" property="address" typeof="PostalAddress"><a href="https://www.google.com/maps/place/Rayno+Automotive+Inc./@42.6775761,-73.7835424,17z/data=!4m5!3m4!1s0x0:0x87848f2932c44288!8m2!3d42.6775761!4d-73.7835424"><i class="fad fa-map-marker-alt"></i> <span property="streetAddress">870 3rd St</span>, <span property="addressLocality">Albany</span>, <span property="addressRegion">NY</span> <span property="postalCode">12206</span></a></address>
          <a href="tel:518-599-0225" class="header-phone"><i class="fad fa-mobile-alt"></i> <span property="telephone">518-599-0225</span></a>
        </div>
      </section>
    </div>
  </div>
</header>
{% endblock %}

{# Main #}
<main role="main" class="main-container {{ container }}">
  <div class="row">
    <section class="col-sm-12">
      {% if site_name %}
         <h1>The <span property="name">{{ site_name }}</span></h1>
      {% endif %}
      <h1>Site Is Under Maintenance</h1>

      {# Content #}
      {% block content %}
        <a id="main-content"></a>
        {{ page.content }}
      {% endblock %}

      {{ drupal_image('public://image-uploads/current-month-promo.png') }} {# Requires Twig Tweak Module #}
    </section>
  </div>
</main>
